<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Quản lý nhân sự</title>

    <link rel="stylesheet" href="/static/css/style.css">
</head>

<body>

    <div class="container">

        <h1>HỆ THỐNG QUẢN LÝ NHÂN SỰ</h1>

        <div class="menu">

            <!-- Chuyen den trang quan ly nhan vien -->
            <a href="/nhanvien" class="menu-item">
                Nhân viên
            </a>

             <!-- Chuyen den trang quan ly hop dong -->
            <a href="/hopdong" class="menu-item">
                Hợp đồng
            </a>

             <!-- Chuyen den trang quan ly CHAM CONG -->
            <a href="/chamcong" class="menu-item">
                Chấm công
            </a>

            <!-- Chuyen den trang quan ly hop dong -->
            <a href="/nghiphep" class="menu-item">
                Nghỉ phép
            </a>

            <!-- Chua lam chuc nang -->
            <div class="menu-item">
                Bảng lương
            </div>

        </div>

    </div>

</body>
</html>